
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hi <%= @user.name %>!</h1>
<p>
  You have successfully RSVP-ed for one of John and Michelle's wedding events.

</p>
<p>
  <b>The message you sent to John and Michelle</b>

  <br><br>


  <%=@user.Message %>


<br><br>
<p>Have a great day!</p>

</p>

</body>
</html>