
<!-- Header -->
<section id="header">
  <header class="major">
    <h1>#EatDrinkBeSamson</h1>
    <p>RSVP Below</p>


  </header>
  <div class="container">
    <ul class="actions">
      <li><a href="#one" class="button special scrolly">Scroll</a></li>
    </ul>
  </div>
</section>

<%= render 'form' %>


