<div class="container">


</div>

<section id="three" class="main special">
  <div class="container">

    <div class="content">
      <header class="major">
        <h1>RSVP Below</h1>
      </header>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


Go
<%= link_to 'Home', home_path %>


</div>
  </div>
  </section>