
<!-- Header -->
<section id="header">
  <header class="major">
    <h1>#EatDrinkBeSamson</h1>
    <p>Come Celebrate with us!</p>


  </header>
  <div class="container">
    <ul class="actions">
      <li><a href="#one" class="button special scrolly">Begin</a></li>
    </ul>
  </div>
</section>




<!-- One -->
<section id="one" class="main special">
  <div class="container">

    <div class="content">
      <header class="major">
        <h2>ITS WEDDING TIME</h2>


      </header>
      <img src="https://shell-wedding.s3.amazonaws.com/purposal .jpg" width="300" height="230"/>
      <img src="https://shell-wedding.s3.amazonaws.com/purposalKissing.jpg" width="300" height="214"/>
      <img src="https://shell-wedding.s3.amazonaws.com/hugging.jpg" width="300" height="230"/>
      <img src="https://shell-wedding.s3.amazonaws.com/downtown.png" width="300" height="214"/>
      </br><br><br>

      <p>John popped the question late November 15th, 2014 on a snow dusted bridge in downtown Minneapolis.  Now it's time to celebrate!</p>

      <a href="/welcome/send_welcome">THIS IS A TEST</a>


    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
  </div>
</section>

<!-- Two -->
<section id="two" class="main special">
  <div class="container">
    <span class="image fit primary"><img src="<%= image_tag "pic02.jpg" %>" alt="" /></span>
    <div class="content">
      <header class="major">
        <h2>Details</h2>
      </header>


      <h3>When</h3>
      <p>Ceremony date: Saturday, 11 June 2016</p>
      <p>We will be there from June 8 to June 14</p>
      <h3>Where</h3>
      <p>
        <a href="http://www.riu.com/en/Paises/mexico/los-cabos/hotel-riu-palace-cabo-san-lucas/mapa.jsp">Hotel RIU Palace</a>
        <br><br>
        OR
        <br>
        <br>

        <a href="http://www.riu.com/en/Paises/mexico/los-cabos/hotel-riu-santa-fe/">Santa Fe</a>
        <br>
      <h3>IMPORTANT!</h3>
      <p> You are welcome to book your hotel at other locations, however, to participate in the wedding festivities, you will be required to purchase a daily pass per guest.</p>


    </div>


    <a href="#three" class="goto-next scrolly">Next</a>
  </div>
</section>

<!-- Three -->
<section id="three" class="main special">
  <div class="container">
    <span class="image fit primary"><img src="images/pic03.jpg" alt="" /></span>
    <div class="content">
      <header class="major">
        <h2>Trip Agenda</h2>
      </header>
      <p>Ceremony date: Saturday, 11 June 2016, 12:00 pm - 1:00 pm</p>
      <p>The wedding will be at the RIU hotel on the beach with a dinner at 7 pm that evening at the Resort.</p>
    </div>
    <a href="#footer" class="goto-next scrolly">Next</a>
  </div>
</section>


<!-- Footer -->
<section id="footer">

<div class="container">
  <header class="major">
    <h2>Get in touch</h2>
  </header>
  <p>RSVP by January 31 at:
    <br>
    Phone/Text:<br>
    Michelle (612) 239-0142<br>
    John (701) 936-5778
    <br><br>
    Email: <br>
    michelle.digregorio23@gmail.com<br>
    jdsamson11@gmail.com</p>


  Post pictures and tag it with
  <h1>#EatDrinkBeSamson</h1>
  <br><br>
  Or RSVP

  <%= link_to 'Online', new_user_path %>




</div>

</section>