
<!DOCTYPE HTML>
<html>
<head>


  <title>Shells</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<body>



<%= yield %>


<!-- Footer -->
<section id="footer">

  <footer>
    <ul class="icons">
      <li><a href="https://www.facebook.com/groups/452938444894094/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://instagram.com/michellejohnswedding/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; LAUREN</li><li>Design: <a href="www.lauren.mn">Lauren.mn</a></li>
    </ul>







  </footer>
</section>

</body>
</html>
